@font-face {
	font-family: 'LilitaOne';
	src: url("../fonts/LilitaOne-Regular.ttf");
}

#menu {
	width: 360px;
	position: absolute;
	left: 50%;
	margin-left: -180px;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu ul li { display: inline; }

#menu ul li a {
	padding: 2px 10px;
	background-color: #EDEDED;
	text-decoration: none;
	font-family: LilitaOne;
	color: #333;
	font-size: 22px;
}

#menu ul li a:hover {
	background-color: #333;
	color: #EDEDED;
}