@font-face {
	font-family: 'MeriendaOne';
	src: url("../fonts/MeriendaOne-Regular.ttf");
}
body {
	font-family: 'MeriendaOne';
	font-size: 22px;
}
#center {
	width: 454px;
	position: absolute;
	left: 50%;
	margin-left: -227px;
}
#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	float: left;
	width: 100%;	
}
#menu ul li {
	display: inline;
}
#menu ul li a {
	text-decoration: none;
	color: #333;
	background-color: #EDEDED;
	display: inline-block;
	padding: 2px 10px;
	border-bottom: 3px solid #EDEDED;
}
#menu ul li a:hover {
	background-color: #D6D6D6;
	color: #6D6D6D;
	border-bottom: 3px solid #EA0000;
}
#img-center {
	width: 640px;
	height: 360px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -320px;
	margin-top: -180px; 
}
#title h1 {
	width: 550px;
	position: absolute;
	left: 50%;
	margin-top: 100px;
	margin-left: -275px;
}